@import "typography.scss";

// GLOBALS
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html,
.__next {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f8f8f8;
}

ul {
  list-style: none;
  padding: 0;
}

// LAYOUT
.OuterContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 20px auto;
  background-color: #fff;
}
.ColumnContainer {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
}

// SECTIONS
.Sidebar {
  flex: 1 100%;
  padding: 20px;
  font-size: 14px;

  h1 {
    font-size: 4em;
    text-transform: uppercase;
  }
}
main {
  flex: 1 100%;
  padding: 20px;

  h2 {
    color: #003d5b;
    font-size: 1.2em;
    font-weight: 800;
    margin: 8px 0 5px;
  }
  h3 {
    font-size: 1em;
    font-weight: 500;
    color: #30638e;
    margin: 0 0 5px;
  }
  p {
    margin-top: 0;
  }
}

.SidebarSection {
  margin-bottom: 35px;
}
.SidebarSection__Title {
  font-size: 1.2em;
  text-transform: uppercase;
}

@media all and (min-width: 800px) {
  main {
    flex: 4 0px;
  }
  .Sidebar {
    flex: 1 0px;
  }
}
@media print {
  main {
    flex: 3 0px;
  }
  .Sidebar {
    flex: 1 0px;
  }
}

// SPECIFICS
.SkillsList {
  li {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
}
