h1,
h2 {
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1em;
  line-height: 1.2;
  margin-top: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.6;
}

a {
  color: #00798c;

  &:hover {
    color: desaturate(#00798c, 20);
  }
}
